{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}


<h1>{{ post.title }}  </h1>

{% if user.is_authenticated %}

{% if user.id == post.author.id %}
   <small>By: {{ post.author}} {{ post.date }} </small> <a href="{% url 'update' post.pk %}">Edit</a> <br><br>
{% endif %}
{{ post.body }}
<br>
<br>
{%else%}
<h3>Kindly register with project review first!!!!!</h3>
{% endif %}

<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
<br>
<hr>
<br>
<form action="{% url 'like' post.pk %}" method="POST">
    {% csrf_token %}

    <button type="submit" name="post_id" value="{{ post.id}}" class="btn btn-primary btn-sm">like</button>
    

</form>

{% endblock %}